.button__language{
    display: inline-block;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    button:hover{
    background-color:#4095c6;
    }

    .language__buttons {
        padding-left: 110px;
    }